@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin 'tailwindcss-animate';

@config '../../tailwind.config.ts';

@source '../**/*.{tsx,ts}';
@source '@radix-ui/**/*.{tsx,ts}';

@custom-variant dark (&:is(.dark *));

:root {
  --background: hsl(0 0.885% 77.8431%);
  --foreground: hsl(210 2.5641% 15.2941%);
  --card: hsl(120 1.1765% 83.3333%);
  --card-foreground: hsl(210 2.5641% 15.2941%);
  --popover: hsl(120 1.1765% 83.3333%);
  --popover-foreground: hsl(210 2.5641% 15.2941%);
  --primary: hsl(224 6.9767% 57.8431%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(300 0.6993% 71.9608%);
  --secondary-foreground: hsl(180 0.6623% 29.6078%);
  --muted: hsl(0 0.885% 77.8431%);
  --muted-foreground: hsl(210 0.9804% 40%);
  --accent: hsl(270 4.0816% 80.7843%);
  --accent-foreground: hsl(180 1.6949% 23.1373%);
  --destructive: hsl(342.3529 6.9959% 52.3529%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(300 0.6993% 71.9608%);
  --input: hsl(300 0.6993% 71.9608%);
  --ring: hsl(224 6.9767% 57.8431%);
  --chart-1: hsl(224 6.9767% 57.8431%);
  --chart-2: hsl(224 5.9761% 50.7843%);
  --chart-3: hsl(223.6364 4.9327% 43.7255%);
  --chart-4: hsl(226.6667 4.918% 35.8824%);
  --chart-5: hsl(220 3.9474% 29.8039%);
  --sidebar: hsl(300 0.6993% 71.9608%);
  --sidebar-foreground: hsl(210 2.5641% 15.2941%);
  --sidebar-primary: hsl(224 6.9767% 57.8431%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(270 4.0816% 80.7843%);
  --sidebar-accent-foreground: hsl(180 1.6949% 23.1373%);
  --sidebar-border: hsl(300 0.6993% 71.9608%);
  --sidebar-ring: hsl(224 6.9767% 57.8431%);
  --font-sans: Poppins, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Victor Mono, monospace;
  --radius: 1.25rem;
  --shadow-2xs: 2px 2px 10px 4px hsl(240 0.4082% 51.9608% / 0.05);
  --shadow-xs: 2px 2px 10px 4px hsl(240 0.4082% 51.9608% / 0.05);
  --shadow-sm:
    2px 2px 10px 4px hsl(240 0.4082% 51.9608% / 0.1),
    2px 1px 2px 3px hsl(240 0.4082% 51.9608% / 0.1);
  --shadow:
    2px 2px 10px 4px hsl(240 0.4082% 51.9608% / 0.1),
    2px 1px 2px 3px hsl(240 0.4082% 51.9608% / 0.1);
  --shadow-md:
    2px 2px 10px 4px hsl(240 0.4082% 51.9608% / 0.1),
    2px 2px 4px 3px hsl(240 0.4082% 51.9608% / 0.1);
  --shadow-lg:
    2px 2px 10px 4px hsl(240 0.4082% 51.9608% / 0.1),
    2px 4px 6px 3px hsl(240 0.4082% 51.9608% / 0.1);
  --shadow-xl:
    2px 2px 10px 4px hsl(240 0.4082% 51.9608% / 0.1),
    2px 8px 10px 3px hsl(240 0.4082% 51.9608% / 0.1);
  --shadow-2xl: 2px 2px 10px 4px hsl(240 0.4082% 51.9608% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: hsl(0 0% 10.1961%);
  --foreground: hsl(200 2.8571% 79.4118%);
  --card: hsl(0 0% 13.7255%);
  --card-foreground: hsl(200 2.8571% 79.4118%);
  --popover: hsl(0 0% 13.7255%);
  --popover-foreground: hsl(200 2.8571% 79.4118%);
  --primary: hsl(214.2857 7.6923% 64.3137%);
  --primary-foreground: hsl(0 0% 10.1961%);
  --secondary: hsl(0 0% 18.4314%);
  --secondary-foreground: hsl(180 0.7194% 72.7451%);
  --muted: hsl(0 0% 13.7255%);
  --muted-foreground: hsl(210 0.9009% 56.4706%);
  --accent: hsl(0 0% 23.5294%);
  --accent-foreground: hsl(180 0.7194% 72.7451%);
  --destructive: hsl(342.3529 6.9959% 52.3529%);
  --destructive-foreground: hsl(0 0% 10.1961%);
  --border: hsl(0 0% 18.4314%);
  --input: hsl(0 0% 18.4314%);
  --ring: hsl(214.2857 7.6923% 64.3137%);
  --chart-1: hsl(214.2857 7.6923% 64.3137%);
  --chart-2: hsl(224 6.9767% 57.8431%);
  --chart-3: hsl(224 5.9761% 50.7843%);
  --chart-4: hsl(223.6364 4.9327% 43.7255%);
  --chart-5: hsl(226.6667 4.918% 35.8824%);
  --sidebar: hsl(0 0% 8.6275%);
  --sidebar-foreground: hsl(200 2.8571% 79.4118%);
  --sidebar-primary: hsl(214.2857 7.6923% 64.3137%);
  --sidebar-primary-foreground: hsl(0 0% 10.1961%);
  --sidebar-accent: hsl(0 0% 23.5294%);
  --sidebar-accent-foreground: hsl(180 0.7194% 72.7451%);
  --sidebar-border: hsl(0 0% 18.4314%);
  --sidebar-ring: hsl(214.2857 7.6923% 64.3137%);
  --font-sans: Poppins, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Victor Mono, monospace;
  --radius: 1.25rem;
  --shadow-2xs: 2px 2px 10px 4px hsl(0 0% 10.1961% / 0.05);
  --shadow-xs: 2px 2px 10px 4px hsl(0 0% 10.1961% / 0.05);
  --shadow-sm:
    2px 2px 10px 4px hsl(0 0% 10.1961% / 0.1),
    2px 1px 2px 3px hsl(0 0% 10.1961% / 0.1);
  --shadow:
    2px 2px 10px 4px hsl(0 0% 10.1961% / 0.1),
    2px 1px 2px 3px hsl(0 0% 10.1961% / 0.1);
  --shadow-md:
    2px 2px 10px 4px hsl(0 0% 10.1961% / 0.1),
    2px 2px 4px 3px hsl(0 0% 10.1961% / 0.1);
  --shadow-lg:
    2px 2px 10px 4px hsl(0 0% 10.1961% / 0.1),
    2px 4px 6px 3px hsl(0 0% 10.1961% / 0.1);
  --shadow-xl:
    2px 2px 10px 4px hsl(0 0% 10.1961% / 0.1),
    2px 8px 10px 3px hsl(0 0% 10.1961% / 0.1);
  --shadow-2xl: 2px 2px 10px 4px hsl(0 0% 10.1961% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  .collaboration-cursor__caret {
    @apply pointer-events-none relative break-normal;
  }

  .collaboration-cursor__label {
    @apply absolute -top-[1.4em] -left-[1px] px-[0.1rem] py-[0.3rem] text-sm font-normal whitespace-nowrap select-none;
  }

  .tiptap-placeholder::before {
    @apply text-muted-foreground pointer-events-none float-left h-0 cursor-text content-[attr(data-placeholder)];
  }

  .tiptap-placeholder[data-placeholder='Title...'] {
    @apply text-7xl font-semibold;
  }
}
